In [49]:
# Estandarización de los datos para eliminar outliers
sc = StandardScaler()
train_st = np.array([list(range(len(train))),train['y']])
# test_st = test['y'].to_numpy()

train_st = sc.fit_transform(train_st)
# test_st = sc.fit_transform(test_st)

# train_st = train_st.to_DataFrame()

In [58]:
train_st = pd.DataFrame(train_st)
train_st
# train['st_y'] = train_st
# train['st_y'] = test_st

,0,1,2,3,4,5,6,7,8,9,...,121,122,123,124,125,126,127,128,129,130
0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,...,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00
1,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00